body {
  background-color: #eceff1;
  padding: 0px;

}

em {
  font-family: fantasy;
}

@font-face {
  font-family: Techno Hideo; src: url('fonts/techno_hideo.ttf'); }
@font-face {
  font-family: Techno Hideo; font-weight: bold; src: url('fonts/techno_hideo_bold.ttf');}

.BackgroundBlue {
  background-color: #607D8B;
  width: 100%;
  height: 350px;
  z-index: -1;
  top: 0;
  left: 0;
  position: fixed;
}

.container {

  height: 500px;

}

.copywrite {
  color: #666666;
  text-align: center;
  margin-top: 250px;
}

.copywrite p {
  font-size: 12px;
}

.copywrite h4 {
  font-family: Techno Hideo;
}

.jumbotron {
  background-color: white;
  position: absolute;
  margin-top: 15%;
  border-color: #b2ebf2;
  border-style: solid;
  border-width: 20px 0px 0px 0px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 150px grey;
  width: 100%;
  margin-left: 3%;
  margin-right: 5%;
  z-index: 1;
}

.jumbotron p {
  font-size: 14px;
}

.about {
  background-color: white;
  margin-top: 10%;
  border-color: #b2ebf2;
  border-style: solid;
  border-width: 20px 0px 0px 0px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 150px grey;
  margin-left: 1%;
}


.zombie {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 10;
}

.topbar {
  width: 100%;
  height: 125px;
  z-index: 1;
  position: absolute;
  margin: 0px;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-color: #b2ebf2;
  border-style: solid;
  border-width: 0px 0px 20px 0px;
  font-family: fantasy;
}

.topbar h1 {
  font-size: 50px;
}

.topbar img {
  width: 110px;
}
